/* .App {
  font-style: sans-serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.sidenav {
  background: silver;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  text-align: center;
  position: fixed;
  z-index: 100;
  top: 0; /* Stay at the top */
  left: 0;
  /* overflow-x: hidden; */
  /* padding-top: 20px; */
}
.sidenav a {
  /* padding: 16px 30px 36px 16px; */
  text-decoration: none;
  font-size: 50px;
  color: black;
  display: block;
  background-color:silver;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: red;
}

.button {
  width: 100px;
  height: 100px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  font-size: 5.0rem;
  display: inline-block; 
 }
 /* .buttons
 {
  width: 100px;
  height: 100px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  font-size: 1.1rem;
  display: inline-block; 
 } */

 /* .elevator 
 {
  
 } */
.section 
{
  background-color: hotpink;
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: 1s ease-in-out;
  margin: 0;
}

/* div#box1
{
  background: hotpink;

}
div#box2
{
  background: blue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: 1s ease-in-out;
}
div#box3
{
  background: orange;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: 1s ease-in-out;
}
div#box4
{
  background: red;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: 1s ease-in-out;
}
div#box5
{
  background: yellow;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: 1s ease-in-out;
}
div#box6
{
  background: skyblue;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: 1s ease-in-out;
} */

/* .leftDoor 
{
  z-index: 9;
  position: absolute; 
  top: 0; 
  width: 100%; 
  height: 100%;
  background-image: yellow;
  background-size: 70px 120px;
  transition: transform 2s;
  transform: scaleX(0)
}

.rightDoor
{
  
}

.rightDoor.closed
{
  transform: scaleX(.6);  
}

.leftDoor.closed
{
  transform: scaleX(.6);
} */