/* .App {
  font-style: sans-serif;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */
/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* .button_panel 
{
  background:green;
  height: 100%;
} */

/* .sidenav {
  background: silver; */
/* height: 100%; Full-height: remove this if you want "auto" height */
/* width: 160px; Set the width of the sidebar */
/* text-align: center; */
/* position: fixed; */
/* z-index: 100; */
/* top: 0; Stay at the top */
/* left: 0; */
/* overflow-x: hidden; */
/* padding-top: 20px; */
/* } */

.h1 {
  width: 100px;
  height: 100px;
  align-items: center;
}
.sidenav-content {
  background: beige;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 150px; /* Set the width of the sidebar */
  text-align: center;
  position: fixed;
  float: left;
  z-index: 100;
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden;
  padding-right: 25px;
}
.sidenav-item {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  padding: 50;
  border-radius: 50%;
  font-size: 60px;
  display: inline-block;
}
.active,
.sidenav-item:hover {
  background-color: #666;
  color: red;
}
/* .sidenav-item {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
} */

/* .floors {
  background-color: indigo;
} */

/* div#box6 { */
/* background: url("https://upload.wikimedia.org/wikipedia/commons/4/42/Emerald_tropical_lagoon_in_Phang_Nga_Bay%2C_Thailand.jpg"); */
/* background-color: lightcoral; */
/* width: 100%;
  height: 900px;
  text-align: center; */
/* }
div#box5 {
  background-color: yellow;
  width: 100%;
  height: 900px;
  text-align: center; */
/* }
div#box4 {
  background-color: teal;
  width: 100%;
  height: 900px;
  text-align: center;
}
div#box3 {
  background-color: blue;
  width: 100%;
  height: 900px;
  text-align: center;
}
div#box2 {
  background-color: orange;
  width: 100%;
  height: 900px;
  text-align: center; */
/* }
div#box1 {
  background-color: plum;
  width: 100%;
  height: 900px;
  text-align: center;
} */

.leftDoor {
  width: 50%;
  background: url("https://media.freestocktextures.com/cache/ea/3d/ea3d7ddf85d051f84a4c301380da0104.jpg");
  /* background-color: yellow; */
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
.rightDoor {
  width: 50%;
  background: url("https://media.freestocktextures.com/cache/ea/3d/ea3d7ddf85d051f84a4c301380da0104.jpg");
  /* background-color: blue; */
  height: 100%;
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
}

.rightDoorOpening {
  animation: rightDoor 3s;
  animation-timing-function: ease-in-out;
}
.leftDoorOpening {
  animation: leftDoor 3s;
  animation-timing-function: ease-in-out;
}

.rightDoorClosing {
  animation: rightDoorReverse 3s;
  animation-timing-function: ease-in-out;
}
@keyframes rightDoorReverse {
  from {
    right: -50%;
  }
  to {
    right: 0%;
  }
}
.leftDoorClosing {
  animation: leftDoorReverse 3s;
  animation-timing-function: ease-in-out;
}
@keyframes leftDoorReverse {
  from {
    left: -50%;
  }
  to {
    left: 0%;
  }
}

@keyframes leftDoor {
  from {
    left: 0;
  }
  to {
    left: -50%;
  }
}
@keyframes rightDoor {
  from {
    right: 0;
  }
  to {
    right: -50%;
  }
}

.section {
  transition-timing-function: 1s ease;
}

.section-dark {
  background-image: url("https://cms.hostelworld.com/hwblog/wp-content/uploads/sites/2/2018/09/PINK-BEACH2.jpg");
  background-size: cover;
  color: black;
  text-align: center;
  max-width: 100%;
  height: 900px;
  margin: 0 auto;
  padding: 40px;
}
.section-morocco {
  background-image: url("https://cdn.kimkim.com/files/a/content_articles/featured_photos/e5de02c303247f5a00e97fdcdd77f0d0fa57a1e5/big-2287663f9a43c6fe0c392893122b98ed.jpg");
  background-size: cover;
  color: black;
  text-align: center;
  max-width: 100%;
  height: 900px;
  margin: 0 auto;
  padding: 40px;
}
.section-chicago {
  background-image: url("https://www.enjoyillinois.com/assets/Uploads/_resampled/ScaleWidthWzEyMDBd/Chicago-Hero-1.jpg");
  background-size: cover;
  color: black;
  text-align: center;
  max-width: 100%;
  height: 900px;
  margin: 0 auto;
  padding: 40px;
}
.section-japan {
  background-image: url("https://www.bcdtravel.com/move-global/wp-content/uploads/sites/142/Move_MarketMonitor_Japan_slider_May2019.jpg");
  background-size: cover;
  color: black;
  text-align: center;
  max-width: 100%;
  height: 900px;
  margin: 0 auto;
  padding: 40px;
}
.section-africa {
  background-image: url("https://media.kasperskycontenthub.com/wp-content/uploads/sites/67/2020/03/04203957/0DSC04881-1024x683.jpg");
  background-size: cover;
  color: black;
  text-align: center;
  max-width: 100%;
  height: 900px;
  margin: 0 auto;
  padding: 40px;
}
.section-turkey {
  background-image: url("https://iadsb.tmgrup.com.tr/8266ad/1200/627/0/0/800/417?u=https://idsb.tmgrup.com.tr/2019/07/02/turkish-lawmaker-urges-tourists-to-visit-magical-hot-air-balloon-fest-in-cappadocia-1562052668204.jpg");
  background-size: cover;
  color: black;
  text-align: center;
  max-width: 100%;
  height: 900px;
  margin: 0 auto;
  padding: 40px;
}
.section-grandcanyon {
  background-image: url("https://www.smartertravel.com/uploads/2017/08/grand-canyon-sunset.jpg");
  background-size: cover;
  color: black;
  text-align: center;
  max-width: 100%;
  height: 900px;
  margin: 0 auto;
  padding: 40px;
}

.section-content {
  max-width: 100%;
  height: 900px;
  margin: 0 auto;
  padding: 40px;
  max-width: 100%;
  height: 900px;
  margin: 0 auto;
  padding: 40px;
}
.sidenav-item > .active {
  border-bottom: 1px solid #333;
}
/* ENTER TRANSITION */
/* Declare transition start properties*/
/* .slide-enter {
  transform: translateX(-100vw);
  opacity: 0;
  position: absolute;
}

/* Declare transition properties */
/* .slide-enter.slide-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 300ms linear 300ms;
} */

/* EXIT TRANSITION */
/* .slide-exit {
  transform: translateX(0);
  opacity: 1;
} */

/* .slide-exit.slide-exit-active {
  transform: translateX(100vw);
  opacity: 0;
  transition: all 300ms linear;
} */
/* .sidenav-content {
  position: relative;
  float: left;
  width: 100%;
  height: 900px;
  background: hotpink;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: 1s ease-in-out;
 } */

/* .sidenav a { */
/* padding: 16px 30px 36px 16px; */
/* padding: 16px;
  text-decoration: none;
  font-size: 60px;
  color: black;
  display: block;
  background-color:silver;
} */
/* When you mouse over the navigation links, change their color */
/* .sidenav a:hover {
  color: red;
} */

/* .button_panel {
  width: 100px;
  height: 200px;
  line-height: 100px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  font-size: 5.0rem;
  display: inline-block; 
 } */
/* .buttons
 {
  width: 100px;
  height: 100px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
  font-size: 1.1rem;
  display: inline-block; 
 } */

/* .elevator 
 {
  
 } */

/* .section6 {
  background-color: indigo;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: 1s ease-in-out;
}
.section5 {
  background-color: green;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: 1s ease-in-out;
}
.section4 {
  background-color: yellow;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: 1s ease-in-out;
}
.section3 {
  background-color: red;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: 1s ease-in-out;
}
.section2 {
  background-color: blue;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: 1s ease-in-out;
}
.section1 {
  background-color: hotpink;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: 1s ease-in-out;
} */

/* Floor page */
/* .section-content h1 {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center; */
/* background: yellow; */
/* height: 100vh;
  width: 200vh;
  display: flex;
  justify-content: center;
  transition-timing-function: 1s ease-in-out */
/* } */

/* background: hotpink;
  height: 100vh;
  width: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: 1s ease-in-out */

/* /.section  *
 {
  background-color: hotpink;
  height: 100vh;
  width: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: 1s ease-in-out;
  margin: 0;
} */
/* div#box
{
  background: red;
  height: 100vh;
  width: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#box1
{
  background: hotpink;
  height: 100vh;
  width: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: 1s ease-in-out;

}
div#box2
{
  background: blue;
  height: 100vh;
  width: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: 1s ease-in-out;
}
div#box3
{
  background: orange;
  height: 100vh;
  width: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: 1s ease-in-out;
}
div#box4
{
  background: red;
  height: 100vh;
  width: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: 1s ease-in-out;
}
div#box5
{
  background: yellow;
  height: 100vh;
  width: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: 1s ease-in-out;
}
div#box6
{
  background: skyblue;
  height: 100vh;
  width: 200vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-timing-function: 1s ease-in-out;
} */

/* .leftDoor 
/* { */
/* z-index: 9;
  position: absolute; 
  top: 0; 
  width: 200%; 
  height: 100%;
  background-image: yellow;
  background-size: 70px 120px;
  transition: transform 2s;
  transform: scaleX(0) */
/* } */
